@font-face {
  font-family: 'vazirmatn';
  src: url('../fonts/vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-vazir{
    font-family: "vazirmatn";
}

.font-vazir::placeholder{
  font-family: "vazirmatn";
}